<ion-view>
  <ion-nav-title>
    <!--<img src="img/logo.png" width="12%" style="vertical-align: middle"/>-->
    <i style="font-size: x-large; vertical-align: middle;  color: #2ea940; font-weight: bold">SenPass</i>
    <button style="margin-top: 2%; float: right;" ng-click="doSearch()" class="button icon ion-search"></button>
  </ion-nav-title>
  <ion-content class="has-header content">

    <ion-refresher pulling-text="Chargement..." on-refresh="refresh()">
    </ion-refresher>

    <a ng-show="etudiant" ui-sref="tabsController.homePage"
       class="button button-block button-assertive" style="margin-top: 0 !important;">Les tickets</a>

    <h3 style="text-align: center" ng-show="nombreBilletsRestaurants == 0" ng-bind="messageBilletsRestaurants"></h3>

    <div class="spinner">
      <ion-spinner ng-show="loadingDone == 0"></ion-spinner>
    </div>

    <div class="list card" ng-repeat="billet in BilletsRestaurants">
      <div class="item item-image my-item-image"
           style="height: 100px; ">
        <a ui-sref="tabsController.detailsBilletRestauration({ id: billet.id })">
            <image style="width: 100%; height: 100px" ng-src="{{ URL_IMAGE }}/uploads/Billets/{{ billet.image }}"/>
        </a>
      </div>

      <a class="item item-icon-left" ui-sref="tabsController.detailsBilletRestauration({ id: billet.id })">
        <i class="icon ion-location"></i>
         {{ billet.libelle }}
      </a>
    </div>

  </ion-content>
</ion-view>
