<ion-view>
  <ion-nav-title>
    <!--<img src="img/logo.png" width="12%" style="vertical-align: middle"/>-->
    <i style="font-size: x-large; vertical-align: middle; color: grey">SenPass</i>
  </ion-nav-title>
  <ion-content padding="true" class="has-header content">
    <h4>Achats</h4>
    <h3 style="text-align: center" ng-show="nbreAchat == 0"> {{ messageAchat }}</h3>

    <div class="spinner">
      <ion-spinner ng-show="loadingDone == 0"></ion-spinner>
    </div>
      <!-- -->
    <div class="list card" ng-repeat="billet in Billets">
      <div class="item item-image" style="height: 100px">
        <image ng-src="{{ URL_IMAGE }}/uploads/Billets/{{ billet.image }}"/>
      </div>

      <a class="item item-icon-left" ng-click="redirectToAchatDetail(billet.id, billet.idAchat)">
        <i class="icon ion-location"></i>
        <p style="word-wrap: break-word">Le {{ billet.date_expiration | date:'dd' }}
          {{ billet.date_expiration | date:'MMMM' | convertDate }} - {{ billet.lieu }}</p>
        <i style="color: red; font-weight: bold; float: right;">+{{billet.quantite }}</i>
      </a>
      <div class="button-bar button-full">
        <a ng-click="openModalTransfert($index)" class="button button-clear button-balanced"><i class="ion ion-share" style="font-size: 1em"><span style="font-size:1em"> Transférer</span></i></a>
        <a ng-click="redirectToAchatDetail(billet.id, billet.idAchat)" class="button button-clear button-energized"><i class="ion ion-eye" style="font-size: 1em"><span style="font-size:1em"> Ouvrir</span></i></a>
      </div>
    </div>

    <hr>
    <h4>Transferts Reçus</h4>
    <h3 style="text-align: center" ng-show="tailleTransfert == 0"> {{ TransfertsVide }}</h3>
    <div class="list card" ng-repeat="transfert in BilletsTransferes">
      <div class="item item-image" style="height: 100px">
        <image ng-src="{{ URL_IMAGE }}/uploads/Billets/{{ transfert.image }}"/>
      </div>

      <a class="item item-icon-left" ng-click="redirectToTransfertDetail(transfert.id, transfert.id_transfert)">
        <i class="icon ion-location"></i>
        <p style="word-wrap: break-word">Le {{ transfert.date_expiration | date:'dd' }}
          {{ transfert.date_expiration | date:'MMMM' | convertDate }} - {{ transfert.lieu }}</p>
        <i style="color: red; font-weight: bold; float: right;">+{{transfert.quantite }}</i>
      </a>
      <div class="button-bar button-full">
        <a ng-click="openModalTransfert($index)"
            class="button button-clear button-balanced">
          <i class="ion ion-share" style="font-size: 1em"><span style="font-size:1em"> Transférer</span></i>
        </a>
        <a ng-click="redirectToTransfertDetail(transfert.id, transfert.id_transfert)" class="button button-clear button-energized">
          <i class="ion ion-eye" style="font-size: 1em"><span style="font-size:1em"> Ouvrir</span></i>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>

<!-- Page modal pour le transfert de tickets -->
<script id="transfertTicket.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Tranférer ce billet</h1>
    </ion-header-bar>
    <ion-content>
      <label class="item item-input item-select">
        <div class="input-label">
          Le nombre de tickets ?
        </div>
        <select ng-model="transfert.quantite">
          <option ng-repeat="i in numToArray(Billets[idBillet].quantite) track by $index">{{ $index +1 }}</option>
        </select>
      </label>

      <ion-list>
        <intlpn ng-model="transfert.telephone" placeholder="Numéro téléphone" default-country="sn"
        box-header-class="bar-energized" box-header-title="Rechercher un pays"
        search-placeholder="Rerchercher..."></intlpn>
      </ion-list>

      <div class="button-bar">
        <a class="button button-balanced button-outline"
            ng-click="transfertTicket(Billets[idBillet].id, Billets[idBillet].idAchat, transfert)">Transférer</a>
        <a class="button" ng-click="closeModalTransfert()">Annuler</a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
  