<ion-view>
  <ion-nav-title>
    <!--<img src="img/logo.png" width="12%" style="vertical-align: middle"/>-->
    <i style="font-size: x-large; vertical-align: middle; color: #2ea940; font-weight: bold">SenPass</i>
  </ion-nav-title>
  <!--<ion-content overflow-scroll="true" class="has-header">-->
  <ion-content class="content">

    <image ng-src="{{ URL_IMAGE }}/uploads/Billets/{{ DetailsTransfert.image }}"
           style="height: 200px; width: 100%"/>

    <!--<div style="text-align: justify; padding: 2%">
      <p ng-bind-html="DetailsTransfert.description"></p>
    </div>-->
    <div class="list">
      <a class="item item-icon-left" href="#">
        Date :
        <span class="item-note" style="color: black !important;">
            {{ DetailsTransfert.date_expiration | date:'dd/MM/yyyy, HH:mm'}}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        Type billet :
        <span class="item-note" style="color: black !important; font-weight: bold; font-size: 1.7em">
            {{ DetailsTransfert.type_billet.nom }}
        </span>
      </a>
      <a class="item item-icon-left" href="#">
        Fournisseur :
        <span class="item-note" style="color: black !important; font-weight: bold; font-size: 1.7em">
            {{ DetailsTransfert.type_billet.billet.gerant.fournisseur.nom_organisation }}
        </span>
      </a>
    </div>

    <canvas id="myCanvas" height="380"></canvas>

    <!--<img data-ng-src="data:image/png;base64,{{DetailsTransfert.qrCode}}" data-err-src="images/png/avatar.png"/>-->

    <a style="font-size: 2em" ng-click="actionSheet()" class="login-button button button-block">
      <i class="icon ion-ios-cloud-download-outline"  style="font-size: 1em"><span style="font-size:1em"> Enregistrer</span></i>
    </a>

  </ion-content>
</ion-view>
